routes/alquiler.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="alquiler">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="descripcion" type="xs:string"/>
        <xs:element name="barrio" type="xs:string"/>
        <xs:element name="calle" type="xs:string"/>
        <xs:element name="numero" type="xs:integer"/>
        <xs:element name="piso" type="xs:string"/>
        <xs:element name="propietario" type="xs:string"/>
        <xs:element name="precio" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
